<app-menu-principal></app-menu-principal>

<h4 class="mt-2 mb-4 text-center">Creación o modificación de una denuncia ambiental</h4>

<mat-card class="p-3" appearance="outlined">
  <form [formGroup]="formaDenunciaAmbiental" (ngSubmit)="procesar()">
    <div class="row mb-3">
      <div class="col">
        <label class="form-label">Número en Sitada</label>
        <input class="form-control" type="text" formControlName="sitadaId" />
        @if (formaDenunciaAmbiental.get('sitadaId')?.invalid && formaDenunciaAmbiental.get('sitadaId')?.touched) {
            <small class="text-danger">El número en Sitada es obligatorio.</small>
        }
      </div>
    
      <div class="col">
        <label class="form-label">Número de informe policial</label>
        <input class="form-control" type="text" formControlName="informePolicialId" />
        @if (formaDenunciaAmbiental.get('informePolicialId')?.invalid && formaDenunciaAmbiental.get('informePolicialId')?.touched) {
            <small class="text-danger">El número de informe policial es obligatorio.</small>
        }
      </div>
    </div>
  
    <div class="row mb-3">
      <div class="col">
        <label class="form-label">Coordenada x</label>
        <input class="form-control" type="number" formControlName="coordenadaX" />
        @if (formaDenunciaAmbiental.get('coordenadaX')?.invalid && formaDenunciaAmbiental.get('coordenadaX')?.touched) {
            <small class="text-danger">La coordenada x es obligatoria.</small>
        }
      </div>
  
      <div class="col">
        <label class="form-label">Coordenada y</label>
        <input class="form-control" type="number" formControlName="coordenadaY" />
        @if (formaDenunciaAmbiental.get('coordenadaY')?.invalid && formaDenunciaAmbiental.get('coordenadaY')?.touched) {
            <small class="text-danger">La coordenada y es obligatoria.</small>
        }
      </div>
    </div>
  
    <div class="row mb-3">
      <div class="col">
        <label class="form-label">Área Silvestre Protegida</label>
        <select class="form-control" formControlName="nombreAsp">
          <option *ngFor="let asp of asps" [value]="asp">{{ asp }}</option>
        </select>
        @if (formaDenunciaAmbiental.get('nombreAsp')?.invalid && formaDenunciaAmbiental.get('nombreAsp')?.touched) {
            <small class="text-danger">El Área Silvestre Protegida es obligatoria.</small>
        }
      </div>
    
      <div class="col">
        <label class="form-label">Sector</label>
        <input class="form-control" type="text" formControlName="nombreSector" />
        @if (formaDenunciaAmbiental.get('nombreSector')?.invalid && formaDenunciaAmbiental.get('nombreSector')?.touched) {
            <small class="text-danger">El sector es obligatorio.</small>
        }
      </div>
    </div>  
  
    <div class="row mb-3">
      <div class="col-6">
        <label class="form-label">Nombre del funcionario responsable</label>
        <input class="form-control" type="text" formControlName="nombreFuncionarioResponsable" />
        @if (formaDenunciaAmbiental.get('nombreFuncionarioResponsable')?.invalid && formaDenunciaAmbiental.get('nombreFuncionarioResponsable')?.touched) {
            <small class="text-danger">El nombre del funcionario es obligatorio.</small>
        }
      </div>
    </div>
  
    <div class="row mb-3">
      <div class="col-6">
        <label class="form-label">Fecha de la infracción</label>
        <input class="form-control" type="date" formControlName="fechaInfraccion" />
        @if (formaDenunciaAmbiental.get('fechaInfraccion')?.invalid && formaDenunciaAmbiental.get('fechaInfraccion')?.touched) {
            <small class="text-danger">La fecha de la infracción es obligatoria.</small>
        }
      </div>
  
      <div class="col-6">
        <label class="form-label">Nombre del imputado</label>
        <input class="form-control" type="text" formControlName="nombreImputado" />
        @if (formaDenunciaAmbiental.get('nombreImputado')?.invalid && formaDenunciaAmbiental.get('nombreImputado')?.touched) {
            <small class="text-danger">El nombre del imputado es obligatorio.</small>
        }
      </div>
    </div>
  
    <div class="row mb-3">
      <div class="col-6">
        <label class="form-label">Tipo de delito</label>
        <select class="form-control" formControlName="tipoDelito">
          <option *ngFor="let delito of tiposDelito" [value]="delito">{{ delito }}</option>
        </select>
        @if (formaDenunciaAmbiental.get('tipoDelito')?.invalid && formaDenunciaAmbiental.get('tipoDelito')?.touched) {
            <small class="text-danger">El tipo de delito es obligatorio.</small>
        }
      </div>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="formaDenunciaAmbiental.invalid">
      Procesar
    </button>
  </form>
</mat-card>