<app-menu-principal></app-menu-principal>

<h4 class="mt-2 mb-4 text-center">Creación o modificación de una denuncia ambiental</h4>

<mat-card class="p-3" appearance="outlined">
  <form [formGroup]="formaDenunciaAmbiental" (ngSubmit)="procesar()">
    <div class="row mb-3">
      <div class="col">
        <label class="form-label">Número en Sitada</label>
        <input class="form-control" type="text" formControlName="sitadaId" />
        @if (formaDenunciaAmbiental.get('sitadaId')?.invalid && formaDenunciaAmbiental.get('sitadaId')?.touched) {
            <small class="text-danger">El número en Sitada es obligatorio.</small>
        }
      </div>
    
      <div class="col">
        <label class="form-label">Número de informe policial</label>
        <input class="form-control" type="text" formControlName="informePolicialId" />
        @if (formaDenunciaAmbiental.get('informePolicialId')?.invalid && formaDenunciaAmbiental.get('informePolicialId')?.touched) {
            <small class="text-danger">El número de informe policial es obligatorio.</small>
        }
      </div>
    </div>
  
    <div class="row mb-3">
      <div class="col">
        <label class="form-label">Coordenada x</label>
        <input class="form-control" type="number" formControlName="coordenadaX" />
        @if (formaDenunciaAmbiental.get('coordenadaX')?.invalid && formaDenunciaAmbiental.get('coordenadaX')?.touched) {
            <small class="text-danger">La coordenada x es obligatoria.</small>
        }
      </div>
  
      <div class="col">
        <label class="form-label">Coordenada y</label>
        <input class="form-control" type="number" formControlName="coordenadaY" />
        @if (formaDenunciaAmbiental.get('coordenadaY')?.invalid && formaDenunciaAmbiental.get('coordenadaY')?.touched) {
            <small class="text-danger">La coordenada y es obligatoria.</small>
        }
      </div>
    </div>
  
    <div class="row mb-3">
      <div class="col">
        <label class="form-label">Área Silvestre Protegida</label>
        <select class="form-control" formControlName="nombreAsp" (change)="onAspChange($event)">
          <option *ngFor="let asp of lista_asp" [value]="asp">{{ asp }}</option>
        </select>
        @if (formaDenunciaAmbiental.get('nombreAsp')?.invalid && formaDenunciaAmbiental.get('nombreAsp')?.touched) {
            <small class="text-danger">El Área Silvestre Protegida es obligatoria.</small>
        }
      </div>
    
      <div class="col">
        <label class="form-label">Sector</label>
        <select class="form-control" formControlName="nombreSector">
          <option *ngFor="let sector of sectoresFiltrados" [value]="sector">{{ sector }}</option>
        </select>
        @if (formaDenunciaAmbiental.get('nombreSector')?.invalid && formaDenunciaAmbiental.get('nombreSector')?.touched) {
            <small class="text-danger">El sector es obligatorio.</small>
        }
      </div>
    </div>
  
    <div class="row mb-3">
      <div class="col-6">
        <label class="form-label">Nombre del funcionario responsable</label>
        <input class="form-control" type="text" formControlName="nombreFuncionarioResponsable" />
        @if (formaDenunciaAmbiental.get('nombreFuncionarioResponsable')?.invalid && formaDenunciaAmbiental.get('nombreFuncionarioResponsable')?.touched) {
            <small class="text-danger">El nombre del funcionario es obligatorio.</small>
        }
      </div>
    </div>
  
    <div class="row mb-3">
      <div class="col-6">
        <label class="form-label">Fecha de la infracción</label>
        <input class="form-control" type="date" formControlName="fechaInfraccion" />
        @if (formaDenunciaAmbiental.get('fechaInfraccion')?.invalid && formaDenunciaAmbiental.get('fechaInfraccion')?.touched) {
            <small class="text-danger">La fecha de la infracción es obligatoria.</small>
        }
      </div>
  
      <div class="col-6">
        <label class="form-label">Nombre del imputado</label>
        <input class="form-control" type="text" formControlName="nombreImputado" />
        @if (formaDenunciaAmbiental.get('nombreImputado')?.invalid && formaDenunciaAmbiental.get('nombreImputado')?.touched) {
            <small class="text-danger">El nombre del imputado es obligatorio.</small>
        }
      </div>
    </div>
  
    <div class="row mb-3">
      <div class="col">
        <label class="form-label">Tipo de denuncia</label>
        <select class="form-control" formControlName="nombreTipoDenuncia" (change)="onNombreTipoDenunciaChange($event)">
          <option *ngFor="let denuncia of nombresTipoDenuncia" [value]="denuncia">{{ denuncia }}</option>
        </select>
        @if (formaDenunciaAmbiental.get('nombreTipoDenuncia')?.invalid && formaDenunciaAmbiental.get('nombreTipoDenuncia')?.touched) {
            <small class="text-danger">El tipo de denuncia es obligatorio.</small>
        }
      </div>

<!--       <div class="col-6">
        <label class="form-label">Nombre de infracción</label>
        <input class="form-control" type="text" formControlName="nombreTipoInfraccion" />
        @if (formaDenunciaAmbiental.get('nombreTipoInfraccion')?.invalid && formaDenunciaAmbiental.get('nombreTipoInfraccion')?.touched) {
            <small class="text-danger">El tipo de infracción es obligatorio.</small>
        }
      </div> -->

      <div class="col">
        <label class="form-label">Nombre de infracción</label>
        <select class="form-control" formControlName="nombreTipoInfraccion">
          <option *ngFor="let infraccion of nombresTipoInfraccionFiltrados" [value]="infraccion">{{ infraccion }}</option>
        </select>
        @if (formaDenunciaAmbiental.get('nombreTipoInfraccion')?.invalid && formaDenunciaAmbiental.get('nombreTipoInfraccion')?.touched) {
            <small class="text-danger">El tipo de infracción es obligatorio.</small>
        }
      </div>      


    </div>

    <button class="btn btn-primary" type="submit" [disabled]="formaDenunciaAmbiental.invalid">
      Procesar
    </button>
  </form>
</mat-card>