<app-menu-principal></app-menu-principal>

<div class="text-center my-3">
  <h1>Área de Conservación Arenal Tempisque (ACAT)</h1>
</div>

<div class="text-center my-3">
  <a href="https://www.sinac.go.cr/ES/ac/acat/Paginas/default.aspx">
    <img src="logo-acat.png" alt="Imagen del logo del ACAT" width="452px" height="474px">
    <img src="mapa-acat.jpg" alt="Imagen del mapa del ACAT">
  </a>
</div>

<div class="text-justify my-3">
  El <a href="https://www.sinac.go.cr/ES/ac/acat/Paginas/default.aspx">Área de Conservación Arenal Tempisque (ACAT)</a> es una de las 11 áreas que conforman el <a href="https://www.sinac.go.cr">Sistema  Nacional de Áreas de Conservación (SINAC)</a> bajo la dirección del Ministerio del Ambiente y Energía. El ACAT fue constituida en octubre de 1991. Tiene una superficie aproximanda de 395 046.14 ha, la cual equivale al 7.73% del territorio nacional.
</div>

<h2>Control y protección</h2>

<h3>Denuncias ambientales</h3>
